<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubentrivino.tiendaonline">

    <application
        android:allowBackup="true"
        android:label="Tienda Online"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tienda">

        <!-- Pantallas del menú -->
        <activity android:name=".ShopActivity" />
        <activity android:name=".OrdersActivity" />
        <activity android:name=".SettingsActivity" />

        <!-- Pantalla de perfil -->
        <activity android:name=".ProfileActivity" />

        <!-- Pantallas de autenticación -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WelcomeActivity" />

        <!-- Pantalla de inicio (Splash) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
